In [1]:
import pandas as pd
import os
import glob

In [2]:
# Working directory
project_dir = '/zfs/projects/darc/wolee_edehaan_suzienoh-exploratory-ml'
os.chdir(project_dir)

In [3]:
def get_prediction_file_paths(directory):
    # Use glob to get all csv files in the directory
    csv_files = glob.glob(os.path.join(directory, '*prediction*.csv'))
    return csv_files

In [4]:
def postprocess_predictions(prediction_df, prediction_col='pred', period='month'):
    
    # Target name based on period
    if period == 'quarter':
        target = 'retq'
    elif period == 'month':
        target = 'ret'
    else:
        raise ValueError("period must be 'quarter' or 'month'")
        
    prediction_df['prob']=prediction_df[prediction_col]
    prediction_df.sort_values('prob', inplace=True)
    prediction_df['rank'] = prediction_df.groupby(['date'])['prob'].transform(lambda x: pd.qcut(x.values, 10, labels=False, duplicates='drop'))
    prediction_df['port_size'] = prediction_df.groupby(['date','rank'])['mve_m'].transform('sum')
    prediction_df['port_ret'] = prediction_df[target] * prediction_df['mve_m']/prediction_df['port_size'] 

    year_vret = prediction_df.groupby(['date','rank'])['port_ret'].sum()
    year_vret = year_vret.reset_index()
    
    return year_vret

In [5]:
def maximum_return(prediction_df, prediction_col='ret', period='month'):
    
    # Target name based on period
    if period == 'quarter':
        target = 'retq'
    elif period == 'month':
        target = 'ret'
    else:
        raise ValueError("period must be 'quarter' or 'month'")
        
    prediction_df['prob']=prediction_df[prediction_col]
    prediction_df.sort_values('prob', inplace=True)
    prediction_df['rank'] = prediction_df.groupby(['date'])['prob'].transform(lambda x: pd.qcut(x.values, 10, labels=False, duplicates='drop'))
    prediction_df['port_size'] = prediction_df.groupby(['date','rank'])['mve_m'].transform('sum')
    prediction_df['port_ret'] = prediction_df[target] * prediction_df['mve_m']/prediction_df['port_size'] 

    year_vret = prediction_df.groupby(['date','rank'])['port_ret'].sum()
    year_vret = year_vret.reset_index()
    
    return year_vret

In [6]:
def create_result(prediction_parent_path, result_file_name=None, period='month', max_return=False):
    # Get the prediction data paths
    prediction_data_paths = get_prediction_file_paths(prediction_parent_path)
    
    # Postprocess the prediction and append all the results together
    results = pd.DataFrame()
    for df_path in prediction_data_paths:
        df = pd.read_csv(df_path)
        if max_return:
            if period=='month':
                year_vret = maximum_return(df, prediction_col='ret', period='month')
            elif period=='quarter':
                year_vret = maximum_return(df, prediction_col='retq', period='quarter')
            else:
                print('Please input period as either month or quarter')
        else:
            year_vret = postprocess_predictions(df, period=period)
        results = pd.concat([results, year_vret]).reset_index(drop=True)
    
    # Sort the results
    sorted_results = results.sort_values(by=['date', 'rank'],  ascending=[True, True]).reset_index(drop=True)
    
    # Save the sorted results to the same parent directory if file name is given
    if result_file_name:
        sorted_results.to_csv(f'{prediction_parent_path}/{result_file_name}', index=False)
        
    return sorted_results

In [7]:
def compute_returns(path):
    
    # Load data
    df = pd.read_csv(path)

    # Get an average annual  return for each decile
    df_avg = pd.DataFrame(df.groupby('rank')['port_ret'].mean()).reset_index().rename(columns={'port_ret': 'Average of port_ret'})

    # Get the column average for return rates
    df_avg.loc['Return rate']= df_avg.iloc[9] - df_avg.iloc[0]
    df_avg.at['Return rate', 'rank'] = ''
    df_avg = df_avg.fillna('')

    return df_avg

In [8]:
def compute_returns_df(df):
    
    # Get an average annual  return for each decile
    df_avg = pd.DataFrame(df.groupby('rank')['port_ret'].mean()).reset_index().rename(columns={'port_ret': 'Average of port_ret'})

    # Get the column average for return rates
    df_avg.loc['Return rate']= df_avg.iloc[9] - df_avg.iloc[0]
    df_avg.at['Return rate', 'rank'] = ''
    df_avg = df_avg.fillna('')

    return df_avg

### Current Quarterly New Restricted

In [9]:
period = 'quarter'
prediction_parent_path = f'kevin/output/prediction/{period}ly_new_restricted'
result_file_name = 'result.csv'

In [10]:
results = create_result(prediction_parent_path, result_file_name, period, max_return=False)

In [11]:
compute_returns_df(results)

/tmp/ipykernel_2350003/4045607825.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_avg.at['Return rate', 'rank'] = ''

            rank  Average of port_ret
0            0.0             0.014356
1            1.0             0.025096
2            2.0             0.029117
3            3.0             0.031057
4            4.0             0.033224
5            5.0             0.029672
6            6.0             0.034539
7            7.0             0.034187
8            8.0             0.047732
9            9.0             0.055648
Return rate                  0.041293

### Current Monthly Restricted

In [12]:
period = 'month'
prediction_parent_path = f'kevin/output/prediction/{period}ly_new_restricted'
result_file_name = 'result.csv'

In [13]:
results = create_result(prediction_parent_path, result_file_name, period, max_return=False)

In [14]:
compute_returns_df(results)

/tmp/ipykernel_2350003/4045607825.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_avg.at['Return rate', 'rank'] = ''

            rank  Average of port_ret
0            0.0            -0.004711
1            1.0             0.004047
2            2.0             0.008154
3            3.0             0.009404
4            4.0             0.010064
5            5.0             0.012416
6            6.0             0.013484
7            7.0             0.014251
8            8.0             0.016543
9            9.0             0.024087
Return rate                  0.028798

### Monthly New Vars

In [15]:
compute_returns('kevin/output/prediction/monthly_new_vars/result.csv')

/tmp/ipykernel_2350003/2335035349.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_avg.at['Return rate', 'rank'] = ''

            rank  Average of port_ret
0            0.0             0.005073
1            1.0             0.008334
2            2.0             0.010095
3            3.0             0.010380
4            4.0             0.011332
5            5.0             0.013042
6            6.0             0.011259
7            7.0             0.011464
8            8.0             0.012775
9            9.0             0.014816
Return rate                  0.009742

### Quarterly New Vars

In [16]:
compute_returns('kevin/output/prediction/quarterly_new_vars/result.csv')

/tmp/ipykernel_2350003/2335035349.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_avg.at['Return rate', 'rank'] = ''

            rank  Average of port_ret
0            0.0             0.028847
1            1.0             0.026470
2            2.0             0.031129
3            3.0             0.030091
4            4.0             0.031548
5            5.0             0.035604
6            6.0             0.034563
7            7.0             0.032160
8            8.0             0.032736
9            9.0             0.031680
Return rate                  0.002833

### Monthly Old Vars

In [17]:
compute_returns('kevin/output/prediction/monthly_old_vars/result.csv')

/tmp/ipykernel_2350003/2335035349.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_avg.at['Return rate', 'rank'] = ''

            rank  Average of port_ret
0            0.0             0.003681
1            1.0             0.007112
2            2.0             0.009797
3            3.0             0.009424
4            4.0             0.011221
5            5.0             0.011056
6            6.0             0.011664
7            7.0             0.010712
8            8.0             0.012864
9            9.0             0.017309
Return rate                  0.013628

### Analyzing result files

In [18]:
def analyze_result_files(result_dir):
    result = pd.read_csv(result_dir)
    result['year'] = result['date'].str[:4]
    summary = pd.pivot_table(data=result, index='year', columns='rank', values='port_ret', aggfunc='mean')

    return summary

In [19]:
monthly_restricted_result_dir = 'kevin/output/prediction/monthly_new_restricted/result.csv'
quarterly_restricted_result_dir = 'kevin/output/prediction/quarterly_new_restricted/result.csv'

In [20]:
analyze_result_files(monthly_restricted_result_dir)

rank,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0
year,,,,,,,,,,
1985,0.007782,0.011813,0.019460,0.017572,0.021380,0.022893,0.023536,0.029384,0.026642,0.025835
1986,0.014574,0.011960,0.018578,0.007464,0.017883,0.009836,0.012055,0.012024,0.016417,0.015458
1987,0.011090,0.010322,0.006674,0.005815,0.003624,0.000122,0.004672,-0.003979,0.003178,0.003325
1988,0.006600,0.011435,0.014111,0.013456,0.012173,0.013616,0.015319,0.013950,0.018627,0.020710
1990,-0.035582,-0.007281,-0.000781,-0.000133,-0.011434,0.001176,-0.002714,0.000332,0.000488,0.000400
1991,0.023212,0.035030,0.030159,0.026895,0.023354,0.021917,0.025314,0.025098,0.028362,0.026614
1992,0.000234,0.007593,0.007893,0.009300,0.012536,0.009336,0.010672,0.015046,0.009858,0.019359
1993,-0.007379,0.006146,0.008846,0.009134,0.006758,0.006351,0.010807,0.007852,0.008616,0.021636
1994,-0.009037,-0.009065,-0.011872,-0.005565,-0.004598,0.004803,0.003193,0.005398,0.002830,0.012204
1995,0.018740,0.020859,0.025504,0.023442,0.025170,0.034310,0.025545,0.024211,0.028909,0.032622
1997,-0.015958,0.008233,0.013019,0.017625,0.013196,0.025560,0.023570,0.025959,0.034817,0.051101
1998,0.002114,0.003290,0.013657,0.007949,0.011559,0.020387,0.023775,0.020835,0.037274,0.045162
1999,0.012752,0.015756,0.003109,0.005232,0.008664,0.011375,0.006322,0.019102,0.023275,0.048487
2000,-0.062959,-0.036585,-0.008977,0.004859,0.006811,0.002458,0.008116,0.010586,0.010788,0.012548
2001,-0.038766,-0.015063,-0.004567,-0.017225,-0.004540,-0.004046,0.000144,-0.004526,-0.009297,0.004443
2003,0.028188,0.015682,0.020620,0.024901,0.025643,0.030205,0.033321,0.042518,0.036267,0.070481
2004,0.009839,0.010451,0.010298,0.007879,0.011977,0.010015,0.003344,0.008284,0.015472,0.024865
2005,-0.006915,0.002060,-0.001528,0.007122,0.005421,0.002139,0.007741,0.007757,0.008783,0.009565
2006,0.004553,0.005966,0.008312,0.014455,0.005118,0.012632,0.014868,0.010690,0.017113,0.010850
2007,-0.021145,-0.007232,0.000696,0.003356,0.006113,0.007594,0.007179,0.009555,0.005454,0.000678
2008,-0.068217,-0.038546,-0.041866,-0.026227,-0.026686,-0.029860,-0.033256,-0.036548,-0.052445,-0.050173
2009,-0.015977,0.006672,0.024086,0.025574,0.035025,0.037553,0.057870,0.056997,0.078547,0.135884
2010,0.014378,0.009014,0.017092,0.014117,0.012116,0.018849,0.015705,0.022470,0.028262,0.047379
2011,-0.016355,-0.010183,-0.003298,0.003143,0.013138,0.012311,-0.003669,-0.010909,-0.021545,NaN
2012,0.009842,0.011064,0.009467,0.011673,0.012165,0.016266,0.020379,0.010737,0.015406,0.019874
2013,0.025000,0.027619,0.029521,0.024248,0.020683,0.025003,0.023239,0.034332,0.035892,0.034750
2015,-0.015161,0.004408,0.004862,0.000867,0.000500,0.003706,-0.001603,0.001870,0.000180,-0.005687
2016,0.011968,0.016929,0.006763,0.015001,0.006757,0.009662,0.016197,0.007120,0.016787,0.014437
2017,0.000065,-0.002190,0.011548,0.015861,0.015298,0.021097,0.024478,0.021022,0.021486,0.028293
2018,-0.037676,-0.015771,-0.005624,-0.001024,-0.003284,-0.002720,-0.002156,-0.001142,0.000191,-0.005482
2019,0.000993,0.007769,0.014012,0.021090,0.023313,0.026847,0.028068,0.031186,0.025862,0.036047
2020,-0.001537,0.011362,0.021150,0.012013,0.016999,0.015868,0.020869,0.022040,0.025141,0.035039

In [21]:
analyze_result_files(quarterly_restricted_result_dir)

rank,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0
year,,,,,,,,,,
1985,0.053303,0.081361,0.072383,0.075900,0.089916,0.076854,0.078322,0.075168,0.083178,0.070111
1986,0.038675,0.049798,0.034040,0.043670,0.044261,0.036239,0.051023,0.034492,0.044243,0.041298
1987,0.009976,0.030064,0.011052,0.029276,0.023999,0.016639,0.003107,0.024213,0.016547,0.014126
1988,-0.017456,0.026807,0.046970,0.027694,0.048664,0.040783,0.044029,0.039901,0.030149,0.047634
1989,0.064117,0.061421,0.049629,0.072292,0.065593,0.085897,0.056932,0.063361,0.063346,0.074859
1990,-0.095201,-0.058611,-0.023418,-0.003278,-0.007505,0.009274,-0.006832,0.025546,0.078994,0.121227
1991,0.053497,0.109679,0.104737,0.071752,0.074007,0.056903,0.080208,0.081509,0.072164,0.084542
1992,0.013868,0.024895,0.019647,0.008368,0.045891,0.037029,0.047281,0.007833,0.019182,0.011895
1993,0.030373,0.005591,0.040451,0.022601,0.030861,0.016112,0.026673,0.020998,0.037648,0.051395
1994,0.002876,-0.002906,0.005527,-0.000879,0.009422,-0.015406,0.001626,-0.008473,0.013593,-0.000628
1995,0.070939,0.081300,0.068140,0.094021,0.091878,0.086546,0.090996,0.072398,0.076750,0.097220
1996,0.024823,0.034078,0.045041,0.043603,0.037524,0.048677,0.062480,0.045457,0.076051,0.049818
1997,0.041576,0.099736,0.051375,0.065814,0.091470,0.075673,0.067448,0.051356,0.058882,0.070437
1998,0.036221,0.017600,0.048288,0.064727,0.061861,0.056626,0.082217,0.088596,0.085881,0.071240
1999,0.064010,0.040288,0.023072,0.029289,0.035649,0.028345,0.027495,0.012542,0.080215,0.148062
2001,-0.106443,-0.027094,0.040593,0.000975,-0.039370,-0.035092,-0.013042,-0.004950,-0.010804,-0.048210
2002,-0.067591,-0.073580,-0.066291,-0.079692,-0.114377,-0.164553,-0.069376,-0.037296,0.325718,0.413977
2003,0.093325,0.077035,0.071127,0.074168,0.075239,0.079744,0.074987,0.062013,0.069824,0.165636
2004,0.052880,0.030347,0.017045,0.029139,0.030238,0.040593,0.026181,0.008570,0.052789,0.051970
2005,0.013060,0.006991,0.007714,0.008364,0.022639,0.009912,0.017877,0.004081,0.026384,0.005398
2006,0.030829,0.032151,0.034617,0.041117,0.037459,0.029145,0.028518,0.055721,0.038293,0.039106
2007,-0.009488,0.012492,0.016897,0.029155,0.026554,0.020958,0.021017,0.022844,0.018221,0.008251
2008,-0.177046,-0.121874,-0.105094,-0.103617,-0.087328,-0.081295,-0.102896,-0.108157,-0.152408,-0.109641
2009,0.104537,0.113133,0.084922,0.064455,0.071268,0.068862,0.039873,0.049031,0.067084,0.072506
2010,0.042222,0.052055,0.045071,0.050405,0.043479,0.049438,0.020548,0.040929,0.068479,0.063982
2011,-0.052239,0.003097,-0.004007,0.012241,0.006947,0.001809,0.014140,0.030167,0.018665,-0.008862
2012,0.005558,0.007476,0.028657,0.037343,0.057176,0.051354,0.051165,0.063411,0.074769,0.048502
2013,0.085333,0.073851,0.075907,0.099307,NaN,NaN,NaN,NaN,NaN,NaN
2014,0.017449,0.030224,0.043900,0.035427,0.029821,0.021732,0.028853,0.018305,0.044666,0.043617
2015,-0.027400,-0.019476,-0.002044,0.010711,0.005240,0.011047,-0.004600,0.004425,0.008371,-0.025562
2016,0.042279,0.009533,0.025895,0.019994,0.029922,0.035516,0.045106,0.025675,0.050113,0.029916
2017,0.017121,0.045947,0.028907,0.065574,0.047185,0.059157,0.057725,0.047589,0.051421,0.040865
2018,-0.059897,-0.058374,-0.044100,-0.000850,0.004037,-0.005749,-0.007683,-0.013386,0.007184,-0.016395
2019,0.083944,0.062803,0.069141,0.065967,0.073725,0.067310,0.068189,0.080941,0.064983,0.097765
2020,0.022422,0.020527,0.053321,0.033139,0.066263,0.092783,0.137332,0.133876,0.177104,0.345649

### RF results reference

In [22]:
quarterly_restricted_result_dir_RF = 'Info Processing and Mutual Funds/new_input/results/result_w_c_q_new_all_restrict_95_stocks.csv'
quarterly_restricted_result_dir_RF = 'Info Processing and Mutual Funds/new_input/results/result_w_c_q_new_all_restrict_95.csv'

In [23]:
analyze_result_files(quarterly_restricted_result_dir_RF)

rank,0,1,2,3,4,5,6,7,8,9
year,,,,,,,,,,
1986,-0.042276,0.000715,0.029379,0.030065,0.037146,0.052625,0.051450,0.055685,0.061998,0.054150
1987,-0.047072,-0.034725,-0.020583,-0.014037,-0.004612,0.013922,0.007724,0.015038,0.038979,0.057305
1988,-0.032986,-0.013332,0.016615,0.027845,0.039641,0.027500,0.036896,0.029400,0.062737,0.069541
1989,-0.039194,0.001860,0.021272,0.041653,0.046331,0.039573,0.048253,0.069729,0.081896,0.093934
1990,-0.180627,-0.135499,-0.088966,-0.049471,-0.040899,-0.012314,-0.025692,-0.014494,-0.000844,0.008721
1991,0.084129,0.082954,0.050934,0.059230,0.049883,0.066490,0.068891,0.083475,0.116456,0.162577
1992,-0.041512,0.009157,0.014145,0.038007,0.030571,0.029338,0.023477,0.024085,0.005520,-0.010597
1993,-0.015621,0.022742,0.016251,0.047191,0.018877,0.038794,0.055268,0.062425,0.061826,0.051368
1994,-0.107817,-0.054129,-0.010377,0.004112,0.000562,0.006738,-0.000606,0.007396,-0.005335,0.043673
1995,-0.029219,0.030441,0.031030,0.044448,0.079917,0.089982,0.074563,0.093594,0.086196,0.101887
1996,-0.081658,-0.019893,0.013132,0.016769,0.037208,0.036581,0.057505,0.047893,0.072369,0.106771
1997,-0.068897,0.005158,0.014148,0.035161,0.054297,0.072696,0.055189,0.091762,0.096812,0.137403
1998,-0.060246,0.045185,0.104864,0.123648,0.102051,0.090576,0.071968,0.049515,0.053584,0.102197
1999,0.053539,0.089884,0.107526,0.080707,0.083339,0.028743,0.094516,0.042613,0.030537,0.064632
2000,-0.109233,-0.077119,-0.017569,-0.032844,0.022121,0.029235,0.037579,0.023486,-0.035719,-0.057818
2001,-0.184008,-0.074294,-0.048843,0.040492,0.010796,-0.022001,-0.022606,-0.014134,-0.008176,0.097043
2002,-0.054342,-0.044954,-0.051898,-0.047063,-0.045633,-0.087519,-0.043040,-0.086277,-0.118519,-0.122090
2003,0.064425,0.066140,0.069433,0.071598,0.066664,0.078110,0.118322,0.126567,0.164238,0.235947
2004,0.031372,0.040101,0.032764,0.029772,0.033727,0.013270,0.013817,0.021051,0.033868,0.034460
2005,-0.029007,-0.000434,0.004676,0.014317,0.016990,0.016754,0.045287,0.022624,0.010238,0.084900
2006,-0.007176,0.011035,0.012624,0.046905,0.035343,0.052626,0.038190,0.045663,0.042373,0.046546
2007,-0.081910,-0.053825,-0.024977,-0.002622,0.016053,0.027495,0.028738,0.029738,0.025370,0.069154
2008,-0.132868,-0.108183,-0.084925,-0.081569,-0.115606,-0.090220,-0.148043,-0.078118,-0.174101,-0.208783
2009,0.017919,0.067641,0.069929,0.072127,0.065661,0.089318,0.117168,0.134315,0.183970,0.241129
2010,0.030942,0.032853,0.037947,0.046181,0.057032,0.046919,0.062746,0.055326,0.097096,0.085530
2011,-0.075830,-0.028270,0.011481,0.019912,0.015413,0.017384,0.000318,0.016160,0.035041,0.006238
2012,0.006981,0.019999,0.011405,0.026096,0.048251,0.036605,0.039815,0.085275,0.100266,0.089147
2013,0.045394,0.067390,0.065200,0.085976,0.072712,0.084629,0.097741,0.092246,0.108052,0.159513
2014,-0.013457,0.027715,0.023325,0.030614,0.025336,0.026049,0.028208,0.041803,0.071486,0.039607
2015,-0.087407,-0.048230,-0.009642,-0.006564,-0.000063,0.018958,0.004770,0.052547,0.052246,0.042898
2016,-0.000612,0.008611,0.008928,0.031881,0.039524,0.030782,0.049276,0.079760,0.037944,0.092371
2017,-0.015751,-0.001565,0.017445,0.037857,0.057306,0.062079,0.065928,0.070046,0.080479,0.078975
2018,-0.100052,-0.089284,-0.036308,-0.022891,-0.013838,-0.015499,0.001357,0.012421,0.016171,0.012968
2019,0.008347,0.023021,0.026242,0.043086,0.076694,0.064523,0.091561,0.076748,0.097923,0.142719
2020,0.051527,0.031343,0.027247,0.039878,0.061996,0.044158,0.118917,0.097143,0.088975,0.115875

In [24]:
compute_returns(quarterly_restricted_result_dir_RF)

/tmp/ipykernel_2350003/2335035349.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_avg.at['Return rate', 'rank'] = ''

            rank  Average of port_ret
0            0.0            -0.035549
1            1.0            -0.002851
2            2.0             0.012681
3            3.0             0.026528
4            4.0             0.030880
5            5.0             0.031569
6            6.0             0.039013
7            7.0             0.044643
8            8.0             0.047770
9            9.0             0.066568
Return rate                  0.102117